<div class="content">
    <div>
        Read more about our methodology at
        <a href="http://becauseoilers.blogspot.com/2016/07/woodmoney-new-quality-of-competition.html"
            target="_blank">WoodBlog</a>
    </div>
    <div style="padding-top:10px;">
        More to come...
    </div>
</div>
