<div class="content">
    <div>
        For questions please hit up
        <a href="" target="_blank">@Woodguy55</a> or
        <a href="" target="_blank">@OilersNerdAlert</a> on Twitter.
    </div>
</div>
