<div style="padding: 17px;">
    <h3>Welcome to PuckIQ</h3>
    <div>Please read our full terms of service here. Basically by using this data you agree that it
        may disappear at any time to be friendly and to give us credit when you use it...
        ( todo rate limit, give credit to use on pages you display data from puckiq)
    </div>

    <h3>Endpoints</h3>
    <div style="padding: 17px;">
        <h4>woodmoney/teams/&lt;team_id&gt;</h4>
        <div>todo docs</div>
    </div>

    <div style="padding: 17px;">
        <h4>woodmoney/players/&lt;player_id&gt;</h4>
        <div>todo docs</div>
    </div>
</div>
