
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Hockey Analytics">
    <meta name="author" content="PuckIQ Team &lt;info@puckiq.com&gt;">

    <title> PuckIQ API Documentation</title>

    <link href="/css/puckiq.css" rel="stylesheet">
    <link href="/css/api.css" rel="stylesheet">

    <style>

    </style>

</head>

<body class="api-docs">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://puckiq.com"><div class="logo-mask"><img style="max-height:200px; margin-top:-80px;" src="/img/main-puckiq.svg" /></div></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Docs</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/terms_of_service">Terms of Service</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div style="padding: 17px">

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                PuckIQ API
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <%- body %>
        </section>
        <!-- /.content -->

    </div>

</body>
</html>


