<div class="content">
    <h3>PuckIQ Terms of Service</h3>
    <div>
        Basically by using this data you agree that it
        may disappear at any time to be friendly with regards to how ofter you query our APIs.
    </div>
    <div style="padding-top: 15px;">
        Feel free to use our data but if you display it anywhere please give us credit PuckIQ.
    </div>
    <div style="padding-top: 15px;">
        By accessing data from these API's you are not permitted to sell NHL data or any data derived from here (PuckIQ data).
    </div>
</div>
